.inboxsdk__tab_title {
    font-weight: bold;
}

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic|Oswald:300,400,700");

.bb-constituent-sidebar h1,
.bb-constituent-sidebar h2,
.bb-constituent-sidebar h3,
.bb-constituent-sidebar h4,
.bb-constituent-sidebar h5,
.bb-constituent-sidebar h6,
.bb-constituent-sidebar .h1,
.bb-constituent-sidebar .h2,
.bb-constituent-sidebar .h3,
.bb-constituent-sidebar .h4,
.bb-constituent-sidebar .h5,
.bb-constituent-sidebar .h6 {
    font-weight: 100;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bb-constituent-sidebar h2,
.bb-constituent-sidebar .h2 {
    font-size: 16px;
    font-weight: 600;
}
.bb-constituent-sidebar h3,
.bb-constituent-sidebar .h3 {
    font-size: 16px;
    font-weight: 600;
}

.bb-constituent-sidebar h1,
.bb-constituent-sidebar .h1,
.bb-constituent-sidebar h2,
.bb-constituent-sidebar .h2,
.bb-constituent-sidebar h3,
.bb-constituent-sidebar .h3 {
    margin-top: 18px;
    margin-bottom: 9px
}

.bb-constituent-sidebar h1,
.bb-constituent-sidebar .h1 {
    font-family: "Oswald", sans-serif;
    font-size: 28px
}

.bb-constituent-sidebar .act_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bb-constituent-sidebar .act_list .title {

}
.bb-constituent-sidebar .act_list .date {
  font-size: 12px;
}
.bb-constituent-sidebar .act_list .summary {

}
.bb-constituent-sidebar .act_list li span {
  display: block;
}
