.inboxsdk__tab_title {
    font-weight: bold;
}
.aIf-aLe .aDG, .aAy.J-KU-JW.aAy.aIf-aLe .aKo, .aAy.J-KU-KO.aAy.aIf-aLe .aKo { background-color: none !important; height: 0; }
.aKo { height: 0; }
table.aKk .inboxsdk__contentTabContainer .inboxsdk__tab:first-child .aAy[role=tab], .aAy, .J-KU-KO .aAy { border: 0; }
.J-KU-Jg-K9.aAA div.J-KU-KO.aAy { background-color: #f9f8f8 !important; }
table.aKk .inboxsdk__contentTabContainer .inboxsdk__tab .aAy[role=tab] {
  border-bottom: 2px solid #f4f5f6 !important;
  height: 22px !important;
}
.inboxsdk__sidebar .inboxsdk__contentPanelContainer { max-width: 250px !important; }
.aAy, .J-KU-KO .aAy { border: 0;}
.inboxsdk__contentPanelContainer_contentContainer { border-bottom: 0 !important; }

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic|Oswald:300,400,700");

.inboxsdk__sidebar .inboxsdk__contentPanelContainer, .inboxsdk__sidebar .inboxsdk__contentPanelContainer .bb-constituent-sidebar  {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.4;
}

.bb-constituent-sidebar h1,
.bb-constituent-sidebar h2,
.bb-constituent-sidebar h3,
.bb-constituent-sidebar h4,
.bb-constituent-sidebar h5,
.bb-constituent-sidebar h6 {
    font-weight: 100;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bb-constituent-sidebar h2,
.bb-constituent-sidebar .h2 {
    font-size: 17px;
    font-weight: 600;
}

.bb-constituent-sidebar h1 {
    margin-top: 12px;
    margin-bottom: 3px
}
.bb-constituent-sidebar h2 {
    margin-top: 15px;
    margin-bottom: 6px
}
.bb-constituent-sidebar .row h2:first-of-type {
    margin-top: 0;
    margin-bottom: 6px;
}

.bb-constituent-sidebar h1,
.bb-constituent-sidebar .h1 {
    font-family: "Oswald", sans-serif;
    font-size: 32px
}
.bb-constituent-sidebar a {
    color: #1c84c6;
    text-decoration: none
}
.bb-constituent-sidebar a:hover,
.bb-constituent-sidebar a:focus {
    color: #135783;
    text-decoration: underline
}
.bb-constituent-sidebar a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.bb-constituent-sidebar .constituent-summary-info {
  font-size: 12px;
}
.bb-constituent-sidebar .bb-constituent-codes-title {
  font-weight: 600;
  margin: .5rem 0;
}
.bb-constituent-sidebar .contact_items {
  font-size: 12px;
  margin-bottom: .25rem;
}
.bb-constituent-sidebar .full_record {
  margin: .5rem 0 0;
}
.bb-constituent-sidebar .act_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bb-constituent-sidebar .act_list .title {
  font-weight: 600;
  margin-bottom: .1rem;
}
.bb-constituent-sidebar .act_list .date {
  font-size: 12px;

}
.bb-constituent-sidebar .act_list .summary {
  margin-top: .25rem;
}
.bb-constituent-sidebar .act_list li span {
  display: block;
}
.rule_heavy {
  border: 0;
  border-top: 2px solid #E7EAEC;
  height: 0;
  margin: .8rem 0;
}
.rule_light {
  border: 0;
  border-top: 1px dotted #ccc;
  height: 0;
  margin: .8rem 0;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none
}
.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    background-image: none
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}
.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33333;
    border-radius: 6px
}
.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-inbox {
  font-size: 11px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-top: .25rem;
}
